<%- include('../partials/head', {variable : "404 | MiEcommerce"}) %>
<%-include('../partials/header', {variable_search: false}) %>
<main class="main">
  
  <div class="main__container">
    
    
    <div class="error-404__img">
      <img src="/images/error-404.png" alt="">
    </div>

    <a href="/"><%-include('../partials/button',{text: 'Página Principal'}) %></a>

    </div>

      <%- include('../partials/products-list', {products: productsByRate, title: "Quizás te pueda interesar", count: 4}) %>

    </main>

  <!-- FOOTER -->
    <%- include('../partials/footer') %>