<!-- Home -->
<%- include('../partials/head', {variable : "Home | MiEcommerce"}) %>

<!-- Importación del Header -->
<%-include('../partials/header', {variable_search: true}) %>

<main class="main">
  
  <div class="main__container">

    <!-- Seccion verde de background -->
    <div class="home__bg-green"></div>

    <!-- Importación de menú de categorias -->
    <%- include('../partials/categories') %>

    <!-- Sección Card Hero -->
    <section class="section-hero">
      <% for(let i=0; i<3; i++){ %>
        <%- include('../partials/product-hero', { hero: hero[i] }) %>
      <% } %>
    </section>

    <!-- Sección Productos de Interes -->
      <%- include('../partials/products-list', {products: productsSortedByRate, title: "Te puede interesar", count: productsSortedByRate.length} ) %>
    
      <!-- Sección Productos más pedidos -->
      <%- include('../partials/products-list', {products: productsSortedByCount, title: "Los más pedidos", count: productsSortedByCount.length}) %>

    <!-- Importación de menú de categorias -->
    <%- include('../partials/categories') %>
  </div>

</main>

<%- include('../partials/footer') %>


