<!-- Home -->

<%- include('../partials/head', {variable : "Home | MiEcommerce"}) %>

<!-- Importación del Header -->
<%- include('../partials/header') %>

<main class="home">
  <div class="home__container">
    <!-- Seccion verde de background -->
    <div class="home__bg-green"></div>

    <!-- Importación de menú de categorias -->
    <%- include('../partials/categories') %>

    <!-- Sección Card Hero -->
    <%- include('../partials/product-hero') %>

    <!-- Sección Productos de Interes -->
 
      <div class="home__section-products">
        <h2 class="home__section-products__title">Te puede interesar</h2>
  
        <div class="main-product__related-product">
          <% for(let i=0; i < 4; i++) { %>
          <a href="/products">
            <%- include('../partials/product-card', {product: products[i]}) %>
          </a>
          <% } %>
        </div>
      </div>
  
      <!-- Sección Más pedidos -->
      <div class="home__section-products">
        <h2 class="home__section-products__title">Los más pedidos</h2>    
          <div class="main-product__related-product">
            <% for(let i=0; i < 5; i++) { %>
            <a href="/products">
              <%- include('../partials/product-card', {product: products[i]}) %>
            </a>
            <% } %>
          </div>
      </div>
  

    <!-- Importación de menú de categorias -->
    <%- include('../partials/categories') %>
  </div>
</main>

<%- include('../partials/footer') %>


