<%- include('../partials/head', {variable : "Login | MiEcommerce"}) %> 
<%-include('../partials/header', {variable_search: false}) %>
<main class="access">
  <div class="access__bg-green"></div>
  <div class="access__container">
    <div class="access__card">
      <h2 class="access__card__title">¡Hola!</h2>
      <form class="access__card__form" action="" method="POST">
        <%- include('../partials/input',{type: 'email', placeholder: 'Ingrese email', nombre: 'Correo'  }) %> 
        <%- include('../partials/input',{type: 'password', placeholder: 'Tu contraseña', nombre: 'Password' }) %> 
        <%-include('../partials/button',{text: 'Iniciar Sesión'}) %>
      </form>
    </div>
    <p class="access__text" for="">
      ¿No tienes cuenta? <a class="access__text__link" href="register">Regístrate</a>
    </p>
  </div>
</main>
<%- include('../partials/footer') %>