<%- include('../partials/head', {variable : "Products | MiEcommerce"}) %> <%-
include('../partials/header', {variable_search: true}) %>

<main class="product">
  <div class="product__action-return">
    <a href="/">
      <img src="/images/arrow-left.svg" alt="Flecha volver al listado" />
      Volver al listado
    </a>
    
    <% if(product != undefined && product != null){ %> 
    <p>
      <img src="/images/chevron-right.svg" alt="Imagen del producto" /><%= product.category.toUpperCase() %> 
    </p>
    <% } %>
  </div>

  <% if(product != undefined && product != null) {%> <%- include('../partials/main-product', {product:
  product}) %>
      <%- include('../partials/interest-products', {products: productsSortedByCategory, title: "También te puede interesar", count: productsSortedByCategory.length}) %>

  <% }else{ %>

    <div class="not-found">

      <div class="not-found__title">
        <h2>Producto no encontrado</h2>
      </div>

      <div class="not-found__img">
        <img src="/images/not-found.svg" alt="">
      </div>

    </div>

      <%- include('../partials/interest-products', {products: randomProducts, title: "Quizás te pueda interesar", count: randomProducts.length}) %>

  <% } %>

  <!-- Importamos menú categorías-->
  <%- include('../partials/categories') %>
</main>

<%- include('../partials/footer') %>
