        <%- include('../partials/head', {variable : "Home | MiEcommerce"}) %>

        <!-- Importación del Header -->
        <%- include('../partials/headersearch') %>
    
    <main class="main-home">

        <div class="container-home">
            <!-- Seccion verde de background -->
            <div class="bg-green">
            </div>
    
            <!-- Importación de menú de categorias -->
            <%- include('../partials/categories') %>
            
            <!-- Sección Card Hero -->
            <%- include('../partials/product-hero') %>
    
            
            <!-- Sección Productos de Interes -->
            <div class="container-product_section">
                <h2 class="section-title">Te puede interesar</h2>
                
                    <div class="main-product__related-product">

                        <% for(let i=0; i < 4; i++) { %>
                            <a href="/products">
                                <%- include('../partials/product-card', {product: products[i]}) %>
                            </a>
                        <% } %>

                    </div>
            </div>
    
            <!-- Sección Más pedidos -->
        <section class="section-masPedidos">
            <h2 class="section-title">Los más pedidos</h2>

                    <div class="main-product__related-product">
        
                        <% for(let i=0; i < 4; i++) { %>
                            <a href="/products">
                                <%- include('../partials/product-card', {product: products[i]}) %>
                            </a>
                        <% } %>
                        
                    </div>
            </div>
    
            </section>
    
    
            <!-- Importación de menú de categorias -->
            <%- include('../partials/categories') %>

        </div>


    </main>


        <%- include('../partials/footer') %>


