<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiEcommercen | Home</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">     
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!-- Estilos Css -->
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

        <!-- Importación del Header -->
        <%- include('../partials/headersearch') %>
    
    <main>

        <!-- Seccion verde de background -->
        <div class="bg-green">
        </div>

        <!-- Importación de menú de categorias -->
        <%- include('../partials/categories') %>

        <!-- Sección Card Hero -->
        <section class="section-hero">

            
            <div class="product-hero">
                <div class="gradient"></div>
                <div class="product-hero__img">
                    <img src="./images/disneybrand.png" alt="">
                </div>
                <div class="product-hero__legend">
                    <h3>50% OFF en Combo Plus</h3>
                    <p>Canjenado 50.000 puntos MiEcommerce</p>
                </div>
            </div>

            <div class="product-hero">
                <div class="gradient"></div>
                <div class="product-hero__img">
                    <img src="./images/rectangle-2.png" alt="">
                </div>
                <div class="product-hero__legend">
                    <h3>Nombre de la Promo</h3>
                    <p>Detalles que pueden ocupar hasta dos lineas</p>
                </div>
            </div>

            <div class="product-hero">
                <div class="gradient"></div>
                <div class="product-hero__img">
                    <img src="./images/hbobrand.png" alt="">
                </div>
                <div class="product-hero__legend">
                    <h3>50% OFF en HBO Max</h3>
                    <p>Canjeando 50.000 puntos MiEcommerce</p>
                </div>
            </div>

        </section>

        <!-- Sección Productos de Interes -->
        <section class="section-interes">
            <h2 class="section-title">Te puede interesar</h2>
            

            <div class="container">
                <div class="main-product__related-product">

                    <% for(let i=0; i < 4; i++) { %>
                        <a href="/products">
                            <%- include('../partials/product-card', {product: products[i]}) %>
                        </a>
                    <% } %>
    
                </div>
            </div>


        </section>

        <!-- Sección Más pedidos -->
        <section class="section-masPedidos">
            <h2 class="section-title">Los más pedidos</h2>

            <div class="container">
            <div class="main-product__related-product" >

                <% for(let i=0; i < 4; i++) { %>
                    <a href="/products">
                        <%- include('../partials/product-card', {product: products[i]}) %>
                    </a>
                <% } %>
                
            </div>
        </div>
        </section>


        <!-- Importación de menú de categorias -->
        <%- include('../partials/categories') %>


    </main>


        <%- include('../partials/footer') %>


</body>
</html>

