<%- include('../partials/head', {variable : "Products | MiEcommerce"}) %> <%-
include('../partials/headersearch') %>

<main class="main-products">
  <div class="volver">
    <a href="./"
      ><img src="/images/arrow-left.svg" alt="Flecha volver al listado" />Volver
      al listado</a
    >
    <p>
      <img src="/images/chevron-right.svg" alt="Imagen del producto" />Bebidas
    </p>
  </div>

  <!-- Importamos la tarjeta principal -->
  <%- include('../partials/main-product') %>

  <div class="main-product__related-products-title">
    <h3>También te puede interesar</h3>
  </div>

  <!-- Importamos 4 tarjetas de productos relacionados -->
  <section class="main-product__related-product related-product-padding">
    <% for(let i=0; i < 4; i++) { %> <%- include('../partials/product-card',
    {product: products[i]}) %> <% } %>
  </section>

  <!-- Importamos menú categorías-->
  <%- include('../partials/categories') %>
</main>

<%- include('../partials/footer') %>
