<%- include('../partials/head', {variable : "Register | MiEcommerce"}) %> <%-
include('../partials/header') %>
<main class="contenedor-main">
  <div class="color-fondo"></div>
  <div class="contenedor-form">
    <div class="contenedor-form__inputs">
      <h2 class="contenedor-form__titulo">¡Registrate!</h2>
      <form class="formulario" action="" method="POST">
        <%- include('../partials/input',{type: 'email', placeholder: 'Tu email'
        }) %> <%- include('../partials/input',{type: 'password', placeholder:
        'Tu nueva contraseña' }) %> <%- include('../partials/input',{type:
        'password', placeholder: 'Repite tu contraseña' }) %> <%-
        include('../partials/button',{text: 'Crear Cuenta'}) %>
      </form>
    </div>
    <p class="texto-form" for="">
      ¿Ya tienes cuenta? <a class="link-view" href="login">Inicia Sesión</a>
    </p>
  </div>
</main>
<%- include('../partials/footer') %>
